<h1>FORGOT PASSWORD</h1>
<br>
<% if (messages.length > 0) {%>
    <% messages.forEach( message => { %>
        <span><%= message.msg %></span><br>
    <% }) %>
    <br>
<% } %>

<form action="/sam_fm/forgot-password?_method=POST" method="POST">
    <section>
        <label for="username">Email</label><br>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section><br>
    <button type="submit">Send password reset link</button>
</form>