<% messages.forEach( message => { %>
    <span><%= message.msg %></span><br>
<% }) %>
<br><br>

<form action="/forgot-password?_method=POST" method="POST">
    <label for="username">Email: </label>
    <input type="text" name="username"><br>
    <a href="#" onclick="this.parentElement.submit();">Forgot password</a>
</form>