<h1>SET A NEW PASSWORD</h1>
<br>
<% if (messages.length > 0) {%>
    <% messages.forEach( message => { %>
        <span><%= message.msg %></span><br>
    <% }) %>
    <br>
<% } %>

<form action="/reset-password?_method=POST" method="POST">
    <input type="hidden" name="token" value="<%= token %>">
    <input type="password" name="password" required>
    <input type="submit" value="Reset Password">
</form>