<h1>Sign in</h1>
<br>
<% if (messages.length > 0) {%>
    <% messages.forEach( message => { %>
        <span><%= message.msg %></span><br>
    <% }) %>
    <br>
<% } %>

<form action="/login?_method=POST" method="POST">
    <section>
        <label for="username">Email</label><br>
        <input id="username" name="username" type="text" autocomplete="username" value="<%= username %>" required autofocus>
    </section><br>
    <section>
        <label for="current-password">Password</label><br>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section><br>
    <button type="submit">Sign in</button>
</form>
<br>
<a href="/register">Register</a><br>
<a href="/forgot-password">Forgot password</a>