<h2>Edit entry</h2>

<form id="scheduleEntryForm" action="/schedule-entries/<%= scheduleEntry._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
    <%- include('partials/scheduleEntryForm.ejs') %> 
    <input type="submit" value="Update">
</form>

<form action="/schedule-entries/<%= scheduleEntry._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
</form>