<h1>New Entry</h1>
<br>
<form id="scheduleEntryForm" action="/sam_fm/schedule-entries?_method=POST" method="POST" enctype="multipart/form-data">
    <%- include('partials/scheduleEntryForm.ejs') %> 
    <input type="submit" value="Create">
</form>