<div class="get-involved">
    <div>
        <h1>Get Involved</h1>
        <br>
        <span>
            Would you be interested to:
            <ul>
                <li>Set up a transmitter</li>
                <li>Create / mix a radio event</li>
                <li>Build DIY transmission equipment</li>
                <li>Walk / build / read / present on the radio</li>
                <li>Relay sounds of the week’s activities using a ‘streambox’ or a free app</li>
                <li>Transmit an action / intervention /</li>
                <li>situation / conversation</li>
                <li>Something else?</li>
            </ul>
            To set up a stream page:
        <a href="/login">login</a> or <a href="/register">create an account</a>.
            <br><br>
            For queries, contact Soundcamp:<br>
            mail: <a href="mailto:contact@soundtent.org">contact@soundcamp.org</a>
            instagram: <a href="https://instagram.com/sound_camp/">@sound_camp</a>
        </span>
        <br><br>
    </div>
    <div>
        <h1>About</h1>
        <br>
        <span>
            <span class="bold">what is on</span><br>
            <span class="italic">radio invisible study times live</span><br><br>
            S AM Swiss Architecture Museum<br>
            Steinenberg 7<br>
            4051 Basel<br>
            10–14 September 2024<br><br>

            Soundcamp will be at S AM for Architekturwoche 2024,
            transmitting live sounds from un-seen / less heard spaces
            and situations. We warmly invite your collaboration in a
            collective radio experiment.<br><br>

            The station will be open. Please join us.<br><br>

            CREDITS<br><br>

            Collective ooo, Bratislava<br>
            Radio Otherwise, Berlin<br>
            Sigrid Schmeisser, Eindhoven<br>
            Soundcamp Cooperative<br><br>

            <p class="small-text">A project with the S AM Swiss Architecture Museum in cooperation with LINA, co-funded by the Creative Europe Programme of the European Union.</p>
            <br>
            <img class="get-involved__partner-logos" src="/sam_fm/img/partner_logos.png">
        </span>
    </div>
</div>