<div class="now-playing">
    <!-- <div class="now-playing__flex-full-width">
        <div>
            <iframe class="now-playing__player" src="https://max.meetingplaceforsounds.net/hosting/simpleplayer?streamurl=https://partneraudio.wavefarm.org/soundcamp.mp3&playercolor=2e8c5d&backgroundcolor=white&playerfilled=true"></iframe>
            <h1 class="inline">Now Playing:</h1>
        </div>
        <div>
            <span class="clock">00:00:00</span>
            <span class="small-text">CEST</span>
        </div>
    </div> -->
    <div class="now-playing__content">
        <a class="now-playing__location"></a><br>
        <span class="now-playing__participants"></span>
        <div class="now-playing__irc-container">
            <iframe class="now-playing__irc" marginwidth="0" marginheight="0" scrolling="default" src="https://irc.soundcamp.radio/?font=timesnewroman&backgroundcolor=white&primarycolor=%232e8c5d&fontsize=20px&lineheight=22px" sandbox="allow-scripts allow-same-origin" width="100%" frameborder="0"></iframe>
            <p>To change your username, type in chat: /nick YourName</p>
        </div>
        <br><br>
        <span class="now-playing__description"></span><br><br>
        <div class="now-playing__images"></div>
        <div class="now-playing__videos"></div>
    </div>
</div>


<script>
const webSocketUrl = '<%= webSocketUrl %>';
</script>
<script type="text/javascript" src="/sam_fm/js/now-playing.js"></script>
<script type="text/javascript" src="/sam_fm/js/clock.js"></script>