/* Variables
--------------------------------------------- */
/* Global
--------------------------------------------- */
html {
  font-size: 24px; }

body {
  font-family: 'Times New Roman', serif;
  color: #2e8c5d;
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
  background: white; }

.hidden {
  display: none; }

.inline {
  display: inline; }

.break {
  height: 1.5rem; }

.break2 {
  height: 3rem; }

.active {
  font-weight: bold; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #2e8c5d;
  cursor: pointer; }

input, select, textarea, button,
input::file-selector-button {
  font-family: 'Times New Roman', serif;
  font-size: 1rem;
  line-height: 1.1rem;
  box-shadow: none !important;
  border: 1px solid #2e8c5d !important;
  color: #2e8c5d;
  background-color: white;
  outline: none;
  padding: 4px; }

input::file-selector-button {
  border: none !important; }

label {
  display: inline-block;
  margin-bottom: 0.25rem; }

button,
input[type=submit] {
  padding: 0.25rem; }

input[type=submit]:hover,
button:hover {
  background-color: #2e8c5d;
  color: white;
  cursor: pointer; }

input[type="checkbox"] {
  accent-color: #2e8c5d;
  margin-right: 10px;
  position: relative;
  top: -1px;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }

.button-delete {
  color: white;
  background: crimson;
  border: none !important;
  outline: none; }

input[type="file"] {
  margin-bottom: 0.25rem; }

input[type="file"]:hover {
  cursor: pointer; }

/* Typography
--------------------------------------------- */
h1 {
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: normal; }

h2 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-top: 0rem;
  font-weight: normal; }

h3 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0rem;
  font-weight: normal; }

p, span {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0rem; }

p.small-text,
span.small-text {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0rem; }

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #2e8c5d;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  border-bottom: 0px; }

/* Page
--------------------------------------------- */
.main {
  width: 100%; }

/* Header
--------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem; }

.header__page-links {
  width: 100%;
  display: inline-block;
  column-gap: 1rem;
  margin-left: 1rem; }

.header__links-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.header__page-links > * {
  white-space: nowrap;
  margin-right: 1rem; }

.header__auth-links {
  display: flex;
  column-gap: 1rem;
  margin-right: 1rem; }

.header__title-left, .header__title-right {
  width: auto;
  height: 5rem; }

.header__title-left-wrapper,
.header__title-right-wrapper {
  border: none; }

/* Now-playing
--------------------------------------------- */
.now-playing__content {
  width: 40%; }

.now-playing__image,
.now-playing__video {
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 40vh; }

.now-playing__player {
  width: 0.88rem;
  height: 0.88rem;
  border: none; }

.now-playing__irc-container {
  position: absolute;
  top: 40vh;
  right: 1rem;
  width: 40vw;
  height: calc( 60vh - 1rem - 1.1rem ); }

.now-playing__irc {
  box-sizing: border-box;
  border: 2px solid #2e8c5d;
  height: 100%; }

.now-playing__flex-full-width {
  display: flex;
  width: 100%;
  justify-content: space-between; }

/* Schedule
--------------------------------------------- */
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px; }

.schedule-table th {
  border-bottom: 1px solid #2e8c5d;
  height: 0; }

.schedule-table td {
  border-bottom: 1px solid #2e8c5d;
  padding: 10px 10px;
  overflow-wrap: break-word;
  vertical-align: top; }

.schedule-table th:first-child,
.schedule-table td:first-child {
  padding: 10px 0; }

.schedule-table tr.bold,
.schedule-table tr:hover {
  font-weight: bold;
  letter-spacing: -0.4px !important; }

.schedule__day-container {
  position: relative;
  width: 100%;
  height: 0; }

.schedule__cest-label {
  position: absolute;
  left: 11.7%;
  top: 0; }

/* Entry page
--------------------------------------------- */
.entry-page__image,
.entry-page__video {
  width: 30%; }

/* Get-involved page
--------------------------------------------- */
.get-involved {
  display: flex;
  align-items: start;
  justify-content: space-between; }

.get-involved > div {
  width: 45%; }

.get-involved__partner-logos {
  width: 50%; }

/* Entry-form
--------------------------------------------- */
.entry-form input[type=text],
.entry-form textarea {
  width: 600px; }

.entry-form input[type=file] {
  box-sizing: border-box; }

.entry-form audio,
.entry-form video,
.entry-form img,
.entry-form input[type=file] {
  width: 400px; }

.entry-form textarea {
  height: 200px; }

/* Dashboard
--------------------------------------------- */
.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

.dashboard-table th,
.dashboard-table td {
  padding: 10px 10px;
  border-bottom: 1px solid #2e8c5d;
  overflow-wrap: break-word;
  vertical-align: top;
  text-align: left; }

.dashboard__timestring {
  text-transform: uppercase; }

/* Mobile
--------------------------------------------- */
@media screen and (max-width: 1350px) {
  .schedule__cest-label {
    left: 34.3%; } }
@media screen and (max-width: 1150px) {
  body {
    padding: 0.5rem; }

  .header {
    position: relative;
    flex-wrap: wrap; }

  .header__links-wrapper {
    flex-basis: 100%; }

  .header__page-links {
    margin-left: 0; }

  .header__auth-links {
    margin-right: 0; }

  .header__title-right {
    position: absolute;
    right: 0;
    top: 0; }

  .now-playing__content,
  .now-playing__location,
  .now-playing__participants,
  .now-playing__description {
    width: 100%; }

  .now-playing__irc-container {
    position: static;
    width: 100%;
    margin-top: 1rem; }

  .now-playing__flex-full-width {
    margin-bottom: 1rem; }

  .now-playing__image,
  .now-playing__video {
    max-width: 100%;
    max-height: 80vh; }

  .header__title-left,
  .header__title-right {
    height: 2rem; } }
@media screen and (max-width: 1100px) {
  .schedule-table th:nth-child(3),
  .schedule-table td:nth-child(3) {
    display: none; }

  .schedule__cest-label {
    left: 44.3%; } }
@media screen and (max-width: 1100px) {
  .get-involved {
    flex-wrap: wrap; }

  .get-involved > div {
    width: 100%; } }
@media screen and (max-width: 530px) {
  .header {
    margin-bottom: 1rem; }

  .header__page-links,
  .header__auth-links {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap; }

  .header__page-links > * {
    margin-right: 0; }

  .header__links-wrapper {
    flex-wrap: wrap; }

  .schedule-table th:nth-child(4),
  .schedule-table td:nth-child(4) {
    display: none; }

  .schedule-table th:nth-of-type(1) {
    width: 2rem !important; }

  .schedule__cest-label {
    left: 52.0%; }

  .entry-form > * {
    box-sizing: border-box;
    width: 100% !important; } }
@media screen and (max-width: 330px) {
  .schedule__cest-label {
    top: -1rem; } }

/*# sourceMappingURL=style.css.map */
