/* Variables
--------------------------------------------- */
/* Global
--------------------------------------------- */
html {
  font-size: 24px; }

body {
  font-family: 'Times New Roman', serif;
  color: #2e8c5d;
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin: 0; }

img {
  width: 100px; }

.hidden {
  display: none; }

.inline {
  display: inline; }

.break {
  height: 1.5rem; }

.break2 {
  height: 3rem; }

.active {
  font-weight: bold; }

.bold {
  font-weight: bold; }

.underline {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #2e8c5d;
  cursor: pointer; }

/* Typography
--------------------------------------------- */
h1 {
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-weight: normal; }

h2 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-top: 0rem;
  font-weight: normal; }

h3 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0rem;
  font-weight: normal; }

p, span {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0rem; }

p.small-text,
span.small-text {
  font-size: 0.75rem;
  line-height: 0.5rem;
  margin: 0rem; }

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #2e8c5d;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  border-bottom: 0px; }

/* Page
--------------------------------------------- */
.main {
  width: 100%; }

/* Header
--------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem; }

.header__links {
  width: 100%;
  display: inline-block;
  justify-content: left;
  column-gap: 1rem;
  margin-left: 1rem; }

.header__links > * {
  white-space: nowrap;
  margin-right: 1rem; }

.header__auth {
  display: flex;
  column-gap: 1rem;
  margin-right: 1rem; }

.header__title-left, .header__title-right {
  width: auto;
  height: 5rem; }

.header__title-left-wrapper,
.header__title-right-wrapper {
  border: none; }

/* Now-playing
--------------------------------------------- */
.now-playing__description {
  width: 40%;
  display: block; }

.now-playing__image,
.now-playing__video {
  width: 25%; }

.now-playing__player {
  width: 0.88rem;
  height: 0.88rem;
  border: none; }

.now-playing__irc-container {
  position: absolute;
  top: 40vh;
  right: 1rem;
  width: 40vw;
  height: calc( 60vh - 1rem ); }

.now-playing__irc {
  box-sizing: border-box;
  border: 2px solid #2e8c5d;
  height: 100%; }

.now-playing__flex-full-width {
  display: flex;
  width: 100%;
  justify-content: space-between; }

/* Schedule
--------------------------------------------- */
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px; }

.schedule-table th {
  border-bottom: 1px solid #2e8c5d;
  height: 0; }

.schedule-table td {
  border-bottom: 1px solid #2e8c5d;
  padding: 10px 0;
  overflow-wrap: break-word; }

.schedule-table__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.schedule__cest-label-container {
  position: relative;
  width: 100%;
  height: 0; }

.schedule__cest-label {
  position: absolute;
  left: 8rem;
  bottom: 0; }

/* Entry page
--------------------------------------------- */
.entry-page__image,
.entry-page__video {
  width: 30%; }

/*# sourceMappingURL=style.css.map */
